<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>game XO</title>
	
</head>
<body>
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<div id="chat">
		<ul id="messages"></ul>
		<form action="">
      		<input id="m" autocomplete="off" placeholder="send message here" /><button>Send</button>
    	</form>
	</div>

	<div id="content">
	<h1>Tic Tac Toe</h1>
	<h4 class="turn"></h4>
	<script>
	for(var i = 1 ; i <= 225 ; i++){
		$('.turn').after('<span class="box"></span>');
		if(i%15 ==0){
			$('.turn').after('<br>');
		}
	}
	</script>
	<h2 id="username">Username ???</h2>
	</div>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="javascripts/script.js"></script>
</body>
</html>